#Модуль <stdio>
#ПодключитьФайл <string.h>

#ОпределитьКонстанту ЧИСЛО_ПИ 3.14 //Некий комментарий №1
целое переменнаяТест = 1;

/*Мой комментарий №2*/
строка приветствие = "Привет Мир!\n"; /* Мой
комментарий 
№3*/

дробное ДелениеДвухЧисел(целое Число1, целое Число2) {
	Если(Число1>Число2 И Число1>10) {
		Возврат	(дробное)Число1/Число2;
	} Иначе {
		Возврат	(дробное)Число2/Число1;
	}
}

пустой ПриНачалеРаботыСистемы() {
    Сообщить(приветствие);
    СообщитьВФормате("Число Число*Пи = %f\n", (ЧИСЛО_ПИ*ДелениеДвухЧисел(5,3)));

    целое маленькийМир = 2;

    Переключатель( маленькийМир ) {
    	СлучайКогда 1:
    		Сообщить("Мир мал :( \n");
    		Прервать;
    	СлучайКогда 2:
    		Сообщить("Мир огромен :) \n");
    		Прервать;
    	ПоУмолчанию:
    		Сообщить("Что те не так с миром 8O \n");
    		Прервать;
    }
}